.list-of-forecasts li {
    margin: 20px 0;
    font-size: 2rem;
    text-align: center;
}

.forecast-button {
    margin: auto;
    padding: 1rem;
    width: 80%;
    min-height: 2rem;
    display: inline-block;
    font-size: 2rem;
    background-color: rgb(110, 133, 134);
    border-radius: 20px;
}